/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;
    -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent {
    margin-bottom: 0px !important;
    overflow: auto;
}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxSlideshow{cursor:pointer;  top:-1px !important;
  right:-1px !important;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, {box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000; opacity: 0.7 !important; filter: alpha(opacity = 90);}
#colorbox{outline:0;position: fixed !important;    top: 146px !important;}
    #cboxContent{margin-top:10px; overflow:visible; background:transparent;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{/*background:#fff;*/ padding:1px;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxLoadingOverlay{background:#000;}
        #cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
        #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, {border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    text-indent: -9999px;
    width: 25px;
    height: 26px;
    position: absolute;
    top: -2px;
    bottom: 35px;
    right: -2px !important;
      /*right: 5px;*/
    background-position: 2px 0px !important;outline: none !important}

        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{background-position:0px 0px; right:44px;}
        #cboxPrevious:hover{background-position:0px -25px;}
        #cboxNext{background-position:-25px 0px; right:22px;}
        #cboxNext:hover{background-position:-25px -25px;}
        #cboxClose{background-position:-50px 0px; right:0;    position: absolute;
    bottom: 0;
    right: 0;
    background: url('../images/controls.png') no-repeat -27px -2px;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
    border: none;}
        /*#cboxClose:hover{background-position:-50px -25px;}*/
        .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}



.pop-up-uae{
  width: 100%;
  float: left;
  height: auto;
  display: block;
  position: relative;
}
.pop-up-uae img{
    width: 100%;
    height: 305px;
}
.pop-up-uae a{
    position: absolute;
    font-weight: 100;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.pop-up-uae .booknow{
    position: absolute;
    bottom: 16%;
    left: 5%;
    color: #fff;
    font-weight: 100;
    font-weight: bolder;
    padding: 12px 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 1px;
    background: #d42828;
}

.pop-up-uae #cboxClose{
  background-position: 0px 0px !important;
}

.pop-up-uae .contactnow{
  position: absolute;
  bottom: 60px;
  right: 156px;
  background: #e62a3a;
  color: #fff;
  font-weight: 100;
  padding: 0px 12px;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 1px;
}
@media (min-width:320px) and (max-width:767px){
    .pop-up-uae a{
    position: absolute;
    bottom: 12%;
    width: auto;
    height: auto;
    right: 10px;
    font-weight: 100;
    padding: 6px 14px;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 1px;
    background-color: #fb9901;
    background-repeat: no-repeat;
    }
}


@media (min-width:768px) and (max-width:6000px){
    .pop-up-uae a{
    position: absolute;
    bottom: 40px;
    width: 180px;
    height: 60px;
    right: 20px;
    color: #fff;
    font-weight: 100;
    background-size: 160px;
    padding: 12px 14px;
    text-transform: uppercase;
    font-size: 0px;
    /* border-radius: 1px;
    background-image: url(/sites/uae.dtdc.com/themes/uae_dtdc/images/shop-now.png);
    background-repeat: no-repeat; */
    }

    .pop-up-uae img{
        height: 305px!important;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
.pop-up-uae a{
    font-size: 8px!important;
}
.pop-up-uae img{
  height: auto!important;
}

}

@media (min-width: 481px) and (max-width: 640px) {
.pop-up-uae a{
    font-size: 12px!important;
}
.pop-up-uae img{
  height: auto!important;
}

}

@media (min-width: 641px) and (max-width: 767px) {
    .pop-up-uae a{
        font-size: 14px!important;
    }
    .pop-up-uae img{
        height: auto!important;
    }
}

/* #colorbox {
    width: 900px !important;
    height: 450px!important;
}

#cboxWrapper{
    width: 900px !important;
    height: 450px!important;
} */

#cboxClose:hover {
    background-position: -27px -2px !important;
}

.dt-cookie h1{
    font-family: 'Buenard-Regular';
}

.dt-terms h1{
    font-family: 'Buenard-Regular';
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Buenard-Regular';
}


/*Color box css starting here*/
#cboxContent{
    width: 100%!important;
    max-width: 760px;  
  }
  
  #cboxLoadedContent{
    width: 100%!important;
  }
  
    .bottom-left a {
        position: absolute;
        left: 3%;        
        bottom: 0px;        
        padding: 16px 12px;
        width: 25%;
        font-size: 0px;
    }
  
    .bottom-right a {
        position: absolute;
        right: 2%;
        bottom: 0px;
        padding: 16px 12px;
        width: 15%;
        font-size: 0px;
    }
  
  @media (min-width:320px) and (max-width:767px){
        
    .pop-up-uae img{
        width: 100%;
      } 
  }
  
  @media (min-width:768px) and (max-width:6000px){
  
    #colorbox {
        width: 900px !important;
        height: 450px!important;
    }
    
        #cboxWrapper{
        width: 900px !important;
        height: 450px!important;
    }
  
    .pop-up-uae img{
          height: 275px;
      } 
  }